.featuredProducts__all-container {
  display: flex;
  gap: 40px;
  background-color: red;
  margin-bottom: 20px;
  overflow: scroll;
}
.featuredProducts__all-container img {
  height: 250px;
  background-color: pink;
}
