.header__all-container-home,
.header__all-container {
  height: 6rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.5s ease;
  z-index: 100;
}
.header__all-container {
  background-color: rgb(237, 236, 221);
}

.header__all-container-home {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: transparent !important;
  border-bottom: 1px solid white;
}
.header__all-container-home {
  border-bottom: 1px solid white;
}

.header__all-container-home .header__signature-text,
.header__all-container-home .header__links-container-1 span,
.header__all-container-home .header__links-container-2 span,
.header__all-container-home .cartIcon span {
  color: white;
}
.header__signature-text,
.header__links-container-1 span,
.header__links-container-2 span,
.cartIcon span {
  color: black;
}
span.white {
  color: black !important;
}
.header__all-container-home span.black {
  color: white !important;
}
.header__left-container-black,
.header__left-container-white,
.header__right-container-black,
.header__right-container-white {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 0 2%;
}
.header--top .header__left-container-black,
.header--top .header__left-container-white,
.header--top .header__right-container-black,
.header--top .header__right-container-white {
  height: 9rem;
}
.header__left-container-black,
.header__left-container-white {
  left: 0;
}
.header__left-container-white {
  border-right: 1px solid white;
}
.header__left-container-black {
  border-right: 1px solid black;
}
.header__right-container-black,
.header__right-container-white {
  right: 0;
}
.header__right-container-black {
  border-left: 1px solid black;
}
.header__right-container-white {
  border-left: 1px solid white;
}
.header__left-container-black img,
.header__left-container-white img,
.header__right-container-black img,
.header__right-container-white img {
  width: 20px;
  height: 20px;
  margin: 7px;
  cursor: pointer;
  transition: filter 0.3s;
}
.header__left-container-black img:hover,
.header__left-container-white img:hover,
.header__right-container-black img:hover,
.header__right-container-white img:hover {
  opacity: 0.5;
  transition: 0.1s ease-out;
}
.header__center-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header__links-container-1,
.header__links-container-2 {
  width: 400px;
}
.header__links-container-1 {
  text-align: end;
}
.header__signature-container {
  text-align: center;
  height: 100%;
  padding: 10px;
  /* background-color: red; */
}
.header__signature-container img {
  margin: 0 auto;
  height: 80%;
  /* background-color: yellow; */
}

.header__text-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  gap: 10px;
}
.header__signature-line-white,
.header__signature-line-black {
  width: 40px;
  background-color: white;
  height: 1px;
}
.header__signature-line-white {
  background-color: white;
}
.header__signature-line-black {
  background-color: black;
}
.header__signature-text {
  font-size: 12px;
  text-transform: uppercase;
}
.header__links-container-1 span,
.header__links-container-2 span {
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
}
.header__all-container-home span {
  color: white !important;
}
.header__links-container-1 span:hover,
.header__links-container-2 span:hover {
  opacity: 0.5;
  transition: 0.1s ease-out;
}
.cartIcon {
  position: relative;
}
.cartIcon span {
  position: absolute;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2879fe;
  right: -5px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  transition: transform 0.3s ease;
  z-index: 100;
} */

.header--hidden {
  transform: translateY(-100%);
}

.header--visible {
  transform: translateY(0);
}
.header--top {
  height: 9rem;
  transition: height 0.5s;
}
