.propositions__all-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: black;
  padding: 60px 0 120px 0;
}
.propositions__title-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.propositions__title-img-container h4 {
  padding: 30px;
  color: black;
  font-size: 30px;
  text-transform: uppercase;
}
.propositions__img-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.propositions__all-container img {
  width: 100%;
  transition: transform 1s;
  cursor: pointer;
}
.propositions__all-container img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
