.biography {
  /* background-color: rgb(24, 23, 23); */
}
.biography__img-top {
  width: 100%;
  height: 22rem;
}
.biography__absolute {
  position: absolute;
  top: 18rem;
  animation: 1.2s ease-out SlideFromBottom;
}
.biography__all-container {
  padding-bottom: 100px;
}

.biography__infos-container {
  margin: 0 13%;
  padding: 20px 40px 40px 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
  background-color: white;
}
.biography__title-top-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* background-color: yellow; */
}
.biography__title-top {
  /* font-family: "Nebula-Regular.otf"; */
  font-family: "BebasNeue-Regular";
  font-size: 50px;
  letter-spacing: 0.5px;
}
.biography__title-top-container img {
  /* background-color: aqua; */
  width: 170px;
  /* padding: 0 20px 40px 20px; */
}
.biography__title-top-container div {
  /* background-color: yellow; */
  text-align: center;
}
.biography__img-text-container {
  display: flex;
  margin-bottom: 20px;
}
.biography__img-left,
.biography__img-top-left,
.biography__img-right,
.biography__img-bottom-right {
  max-width: 500px;
  max-height: 400px;
  margin-bottom: 10px;
}
.biography__img-top-left,
.biography__img-left {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.biography__img-bottom-right,
.biography__img-right {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.biography__img-top-left {
  border-top-left-radius: 15px;
}
.biography__img-bottom-right {
  border-bottom-right-radius: 15px;
}
.biography__subTitle {
  font-size: 12px;
}
.biography__title-txt-container-right,
.biography__title-txt-container-left {
  padding: 20px 0;
}
.biography__title-txt-container-left {
  padding-right: 20px;
}
.biography__title-txt-container-right {
  padding-left: 20px;
}
.biography__txt {
  font-size: 17px;
  /* background-color: yellow; */
}

@keyframes SlideFromBottom {
  from {
    transform: translateY(6rem);
  }
  to {
    transform: none;
  }
}
