.home__all-container {
}
.home__img-bg {
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.home__img {
  width: 100%;
  height: 100%;
}
.home__content-container {
  margin: 0 3% 0 3%;
  /* padding: 0 0 10rem 0; */
}
.home__top-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* background-color: yellow; */
  margin-bottom: 10rem;
  padding-bottom: 20px;
}
.home__title {
  display: inline-block;
  bottom: 0;
  /* background-color: orange; */
}

.home__title-1 {
  animation: 6.5s ease-out SlideInFromLeftFurther;
  margin-bottom: 20px;
}
.home__title-2 {
  display: flex;
  align-items: baseline;
  animation: 5s ease-out OuterLeft;
  margin-bottom: 25px;
}
.home__title-3 {
  animation: 3s ease-out OuterLeft;
  margin-bottom: 25px;
}
.home__title-3 div {
  margin-bottom: 10px;
}
.home__title span {
  font-family: "MigraItalic-ExtraboldItalic";
  color: white;
  font-size: 20px;
}
.home__title h1 {
  color: white;
  font-family: "TuskerGrotesk-2500Medium";
  font-size: 200px;
  line-height: 180px;
  /* color: transparent; */
  /* -webkit-text-stroke: 1px white; */
}

.home__texte-container {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  padding-bottom: 15px;
}
.home__texte-1 {
  text-align: right;
  animation: inner-left 1s 1s ease both,
    text-clip 4s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  animation-delay: 4.5s;
}
.home__texte-2 {
  text-align: left;
  margin-right: 10rem;
  animation: text-clip 5s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  animation-delay: 4s;
}

@keyframes SlideInFromLeftFurther {
  0% {
    transform: translateX(-500%);
  }
  80% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes OuterLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: none;
  }
}
@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
