.home__all-container {
}
.home__img-bg {
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.home__img {
  width: 100%;
  height: 100%;
}
.home__content-container {
  margin: 0 3% 0 3%;
  /* padding: 0 0 10rem 0; */
}
.home__top-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  /* padding-bottom: 0px; */
  /* background-color: yellow; */
}
.home__title {
  display: inline-block;
  bottom: 0;
  /* background-color: pink; */
}
.home__title:first-child div {
  margin-bottom: 20px;
}
.home__title-1 {
  animation: 5s ease-out SlideInFromLeft;
}
.home__title-2 {
  animation: 2.7s ease-out SlideInFromBottom;
}
.home__title-3 {
  display: flex;
  align-items: baseline;
}
.home__title span {
  font-family: "MigraItalic-ExtraboldItalic";
  color: white;
  font-size: 20px;
}
.home__title h1 {
  color: white;
  font-family: "TuskerGrotesk-2500Medium";
  font-size: 200px;
  line-height: 200px;
  /* color: transparent; */
  /* -webkit-text-stroke: 1px white; */
}

@keyframes SlideInFromLeft {
  0% {
    transform: translateX(-1000%);
  }
  80% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes SlideInFromBottom {
  0% {
    transform: translateY(1000%);
  }
  100% {
    transform: translateY(0);
  }
}
