.portfolio__menu-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  /* background-color: yellow; */
}
.portfolio__menu-right,
.portfolio__menu-left {
  /* padding: 20px 0; */
  /* background-color: pink; */
}
.portfolio__menu-container span {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 0px;
  position: relative;
  cursor: pointer;
}
.portfolio__menu-right span:hover,
.portfolio__menu-left span:hover {
  opacity: 0.5;
}
.portfolio__menu-right {
  display: flex;
  gap: 40px;
}
.portfolio__imgs-container a {
  margin: 5px;
  /* background-color: yellowgreen; */
}
