.header__all-container {
  position: relative;
  height: 120px;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.15);
}
.header__social-media-container,
.header__look-basket-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 0 2%;
}
.header__social-media-container {
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.header__look-basket-container {
  right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.header__social-media-container img,
.header__look-basket-container img {
  width: 20px;
  height: 20px;
  margin: 7px;
  cursor: pointer;
  transition: filter 0.3s;
}
.header__social-media-container img:hover,
.header__look-basket-container img:hover {
  opacity: 0.5;
  transition: 0.1s ease-out;
}
.header__links-signature-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.header__links-container-1,
.header__links-container-2 {
  width: 400px;
}
.header__links-container-1 {
  text-align: end;
}
.header__signature-container {
  width: 170px;
  margin: 0 20px;
}
.header__signature-container img {
  width: 100%;
}
.header__links-container-1 span,
.header__links-container-2 span {
  padding: 10px;
  color: white;
}
.header__links-container-1 span:hover,
.header__links-container-2 span:hover {
  color: rgba(255, 255, 255, 0.15);
  transition: 0.1s ease-out;
}
