body {
  --def: #090e0c;
  --inv: #fff;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: 7%;
  margin-right: 7%;
}
