body {
  --def: #090e0c;
  --inv: #fff;
  background-color: palegoldenrod;
}
* {
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}
.block {
  display: block;
}
.none {
  display: none;
}
.flex {
  display: flex;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fadeIn {
  animation: 2s ease fadeIn;
}
.container {
  margin: 100px 10% 0 10%;
}
h3 {
  color: white;
  text-transform: uppercase;
}
.black-png {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}
