body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* /////////////////////////// TUSKER GROTESK /////////////////////////// */

@font-face {
  font-family: "TuskerGrotesk-1500Medium";
  src: url("../src//fonts//TuskerGrotesk//TuskerGrotesk-1500Medium.ttf");
}
@font-face {
  font-family: "TuskerGrotesk-2500Medium";
  src: url("../src//fonts//TuskerGrotesk/TuskerGrotesk-2500Medium.ttf");
}
@font-face {
  font-family: "TuskerGrotesk-4500Medium";
  src: url("../src//fonts//TuskerGrotesk/TuskerGrotesk-4500Medium.ttf");
}

@font-face {
  font-family: "TuskerGrotesk-1800Super";
  src: url("../src//fonts//TuskerGrotesk/TuskerGrotesk-1800Super.ttf");
}

/* /////////////////////////// MIGRA /////////////////////////// */

@font-face {
  font-family: "MigraItalic-ExtraboldItalic";
  src: url("../src//fonts//Migra//MigraItalic-ExtraboldItalic.ttf");
}

/* /////////////////////////// MOON /////////////////////////// */

@font-face {
  font-family: "Moon-Regular";
  src: url("../src//fonts//Moon//Moon2.0-Regular.otf");
}
@font-face {
  font-family: "Moon-Bold";
  src: url("../src//fonts//Moon//Moon2.0-Bold.otf");
}

/* /////////////////////////// JOSEPHIN /////////////////////////// */

@font-face {
  font-family: "JosefinSans-Medium";
  src: url("../src//fonts//Josephin//JosefinSans-Medium.ttf");
}
@font-face {
  font-family: "JosefinSans-Regular";
  src: url("../src//fonts//Josephin//JosefinSans-Regular.ttf");
}

/* /////////////////////////// DROIS SANS /////////////////////////// */

@font-face {
  font-family: "droid-sans.regular";
  src: url("../src//fonts//DroidSans//droid-sans.regular.ttf");
}

/* /////////////////////////// BEBAS NEUE /////////////////////////// */

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../src//fonts//BebasNeue/BebasNeue-Regular.ttf");
}
